@model object[]
@using CompanyWebApp.Data.enums;
@{
    ViewData["Title"] = "Task Details";
    var employee = Model[0] as Employee;
    var data = Model[1] as task;
    data.Employee_Id = employee.Id;
    data.StartDate = DateTime.Today;
    data.EndDate = DateTime.Today;
}
<style>
    a.btn.my-btn:hover {
        background: #e60000;
    }
</style>

@if (employee.empRole == EmpRole.Admin)
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">PGESCo Tasks Calender</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="EmpCal"><i class="badge-info bi-house "> </i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Display">Employees</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Display">Departments</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="DisplayForEmp">My Tasks</a>
                        </li>
                    </ul>
                    <a class="btn my-btn btn-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Logout</a>
                </div>
            </div>
        </nav>
    </header>
}
else if (employee.empRole == EmpRole.Manager || employee.empRole == EmpRole.Supervisor)
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">PGESCo Tasks Calender</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="EmpCal"><i class="badge-info bi-house "> </i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="DisplayForEmp">My Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Display">My Team's Tasks</a>
                        </li>
                    </ul>
                    <a class="btn my-btn btn-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Logout</a>
                </div>
            </div>
        </nav>
    </header>
}
else
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">PGESCo Tasks Calender</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="EmpCal"><i class="badge-info bi-house "> </i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="DisplayContact">Contact Supervisors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="DisplayForEmp">My Tasks</a>
                        </li>

                    </ul>
                    <a class="btn my-btn btn-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Logout</a>
                </div>
            </div>
        </nav>
    </header>
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h2>Add Task</h2>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">

                <form asp-action="AddTask">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <input asp-for="@(((task)data).Employee_Id)" class="form-control" type="hidden" />
                        <br />
                    </div>
                    <div class="form-group">
                        <label asp-for="@(((task)data).taskDesc)" class="control-label">Task Description</label>
                        <input asp-for="@(((task)data).taskDesc)" class="form-control" />
                        <span asp-validation-for="@(((task)data).taskDesc)" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-group">
                        <label asp-for="@(((task)data).taskStatues)" class="control-label">Status</label>
                        <select asp-for="@(((task)data).taskStatues)" class="form-control">
                            @foreach (var stt in Enum.GetValues(typeof(TskStatus)))
                            {
                                <option value="@stt">@stt</option>
                            }
                        </select>
                        <span asp-validation-for="@(((task)data).taskStatues)" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-group">
                        <label asp-for="@(((task)data).StartDate)" class="control-label">Task Start Date</label>
                        <input asp-for="@(((task)data).StartDate)" class="form-control" />
                        <span asp-validation-for="@(((task)data).StartDate)" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-group">
                        <label asp-for="@(((task)data).EndDate)" class="control-label">End Date</label>
                        <input asp-for="@(((task)data).EndDate)" class="form-control" />
                        <span asp-validation-for="@(((task)data).EndDate)" class="text-danger"></span>
                        <br />
                        <br />
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Add" class="btn btn-outline-dark" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

