@model object[]
@using CompanyWebApp.Data.enums;

@{
    ViewData["Title"] = " My Tasks ";
    var employee = Model[0] as Employee;
}
<style>
    a.btn.my-btn:hover {
        background: #e60000;
    }

    .custom-spacing {
        margin-left: 10px; /* Adjust the margin value as per your desired spacing */
    }
</style>

@if (employee.empRole == EmpRole.Admin)
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">PGESCo Tasks Calender</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="EmpCal"><i class="badge-info bi-house "> </i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Display">Employees</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Display">Departments</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="DisplayForEmp">My Tasks</a>
                        </li>
                    </ul>
                    <a class="btn my-btn btn-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Logout</a>
                </div>
            </div>
        </nav>
    </header>
}
else if (employee.empRole == EmpRole.Manager || employee.empRole == EmpRole.Supervisor)
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">PGESCo Tasks Calender</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="EmpCal"><i class="badge-info bi-house "> </i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="DisplayForEmp">My Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Display">My Team's Tasks</a>
                        </li>
                    </ul>
                    <a class="btn my-btn btn-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Logout</a>
                </div>
            </div>
        </nav>
    </header>
}
else
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">PGESCo Tasks Calender</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="EmpCal"><i class="badge-info bi-house "> </i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="DisplayContact">Contact Supervisors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="DisplayForEmp">My Tasks</a>
                        </li>

                    </ul>
                    <a class="btn my-btn btn-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Logout</a>
                </div>
            </div>
        </nav>
    </header>
}
<div class="row">
    <div class=" offset-md-0.5">
        <table class="table table-auto">
            <thead>
                <tr>
                    <th> Task</th>
                    <th> Start Date</th>
                    <th> End Date</th>
                    <th> Status</th>
                    <th>         </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<task>)Model[1])
                {
                    <tr>
                        <td class="align-middle">@item.taskDesc</td>
                        <td class="align-middle">@item.StartDate.ToString("dd/MM/yyyy")</td>
                        <td class="align-middle">@item.EndDate.ToString("dd/MM/yyyy")</td>
                        @if (@item.taskStatues != null)
                        {
                            <td class="align-middle">@item.taskStatues</td>
                        }
                        else if(DateTime.Now > item.EndDate)
                        {
                            <td class="align-middle">Passed</td>
                        }
                        <td class="align-middle">
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-dark" asp-controller="Tasks" asp-action="ViewTask" asp-route-taskId="@item.Id">
                                    <i class="bi bi-eye"></i> View
                                </a>
                                <a class="btn btn-outline-dark" asp-controller="Tasks" asp-action="EditTask" asp-route-taskId="@item.Id">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <form method="post" asp-controller="Tasks" asp-action="DelTask" asp-route-taskId="@item.Id" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-outline-danger custom-spacing">
                                        <i class="bi bi-journal-minus"></i> Delete
                                    </button>
                                </form>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-outline-dark" asp-controller="Tasks" asp-action="AddTask"><i class="bi bi-journal-plus "></i>  Add Task</a>
        </div>
    </div>
</div>