@model List<department>

@{
    ViewData["Title"] = "List of Departments";
}
<style>
    a.btn.my-btn:hover {
        background: #e60000;
    }
</style>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand">PGESCo Tasks Calender</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="EmpCal"><i class="badge-info bi-house "> </i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Display">Employees</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Display">Departments</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="DisplayForEmp">My Tasks</a>
                    </li>
                </ul>
                <a class="btn my-btn btn-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Logout</a>
            </div>
        </div>
    </nav>
</header>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <table class="table">
            <thead>
                <tr>
                    <th> ID</th>
                    <th> Name</th>
                    <th> Manager ID</th>
                    <th>          </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Manager_Id)</td>
                        <td class="align-middle">
                            <a class="btn btn-outline-dark" asp-controller="Departments" asp-action="EditDep" asp-route-depId="@item.Id"><i class="bi bi-pencil-square "></i>  Edit</a>
                            <a class="btn btn-outline-danger" asp-controller="Departments" asp-action="DelDep" asp-route-depId="@item.Id"><i class="bi bi-house-dash"></i>  Delete</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <div class="text-center">
            <a class="btn btn-outline-dark" asp-controller="Departments" asp-action="AddDep"><i class="bi bi-house-add "></i>  Add Department</a>
        </div>
    </div>
</div>